.TodoList {
    width: 400px;
    padding: 12px 24px;
    background-color: #ff561e;

    h1 {
        color: #fff;
    }

    p{
        color: #fff;
    }

    .subtitle {
        margin-bottom: 2rem;
    }
}